<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.xstream.xray-node-tky</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/xray</string>
    <string>run</string>
    <string>-c</string>
    <string>/opt/homebrew/etc/xray-vpn-tky-node.json</string>
  </array>
  <key>StandardOutPath</key>
  <string>/tmp/xray-vpn-tky-node.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/xray-vpn-tky-node.err</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>
